img {
  width: 300px;
  height: 300px;
  margin-right: 30px;
  margin-top: 60px;
}

h1 {
  max-width: 380px;
  font-family: sans-serif;
  margin: 0 auto;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

#unordered-list {
  list-style: none;
  font-family: sans-serif;
  color: #66b3ff;
  /*margin-top: -300px;*/
}

li {
  display: inline-block;
}

#votes-remaining p {
  margin: 0 auto;
  border: 2px solid #b3d9ff;
  border-radius: 5px;
  max-width: 250px;
  font-size: 18px;
  padding: 5px;
  background-color: #b3d9ff;
  color: #fff;
}

#image-container {
  max-width: 970px;
  margin: 0 auto;
}

#right {
  margin-right: 0px;
}

#buttons {
  text-align: center;
}

#buttons div {
  margin-top: 35px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}
